:root{
    --gris: #A0A0A1;
    --fondo: #171718;
    --rellenos: #1C1E22;
    --bordes: #26292D;
    --acento: #85BFD1;
    --blanco: #fff;
    --primario: #5C62EC;
    --hover: #3C40AE;

}
.miguel {
    padding: 2rem 0 4rem;
}

.miguel_wrapper {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.miguel-title > .body-1 > .body-1 {
    padding-bottom: 3rem;
}

.body-1.miguel-nopadding {
    padding: 0 0 .5rem 0 !important;
    padding-bottom: .5rem;
}
.miguel-mail {
    color: var(--acento);
}
.miguel_wrapper img {
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    max-height: 430px;
    max-width: 330px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .miguel {
        padding-top: 4rem;
        padding-bottom: 8rem;
        padding-left: 0;
    }
    .miguel-title > .body-1 > .body-1 {
        padding-bottom: .5rem;
    }

    .miguel_wrapper img {

        max-height: 448px;
        max-width: 547px;
    }

    
}
@media screen and (min-width: 1080px){
    .miguel_wrapper {
        flex-direction: row;
        column-gap: 4rem;
        align-items: flex-start;
        
    }
    .miguel-title > .body-1 > .body-1 {
        padding-bottom: .5rem;
    }
    .miguel_wrapper img {

        max-height: 448px;
        max-width: 547px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1220px) {
    .miguel_wrapper { 
        column-gap: 8.5rem;
    }
}
    
@media screen and (min-width: 1400px) {
    .miguel_wrapper {
        padding: 0;
    }
}

.wrapper > h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.mishabilidades-wrapper {
    margin: 0 1rem 4rem;
    display: grid;
    
    row-gap: 1.5rem;
    
}

.mishabilidades-wrapper_item {
    background: var(--rellenos);
    padding: 1rem;
    display: flex;
    flex-direction: column;

}

.mishabilidades-wrapper_item > img {
    height: 50px;
    width: 50px;
    padding-bottom: 10px;
}


@media screen and (min-width: 768px) {
    .wrapper > h3 {
        text-align: center;
        margin-bottom: 3rem;
    }

    .mishabilidades-wrapper {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
        margin-bottom: 8rem;
    }
 


}


@media screen and (min-width: 1024px) {
    .wrapper > h3 {
        text-align: center;
        margin-bottom: 3.75rem;
    }

    .mishabilidades-wrapper {
        grid-template-columns: repeat(3, 1fr);
       
    }
 

}